In [1]:
s=[9,7,8,6,7,9,6]
s1=set(s)
s=list(s1)
s.sort(reverse=True)
print("Score of runner up",s[1])

Score of runner up 8

In [8]:
q={2,3,4,12,8,6,7}
w={9,7,1,6,3,5,2}

In [12]:
if q.intersection(w):
  print(q.intersection(w))
else:
  q.union(w)

{2, 3, 6, 7}

In [ ]:
D={'John' :[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}

In [27]:
c=input("Enter the name:")
if c=='John':
  x=int(input("Enter the new score:"))
  y=int(input("Enter the new score:"))
  z=int(input("Enter the new score:"))
  D['John']=[x,y,z]
  print(D)
elif c=='Peter':
  x=int(input("Enter the new score:"))
  y=int(input("Enter the new score:"))
  z=int(input("Enter the new score:"))
  D['Peter']=[x,y,z]
  print(D)
elif c=='Ram':
  x=int(input("Enter the new score:"))
  y=int(input("Enter the new score:"))
  z=int(input("Enter the new score:"))
  D['Ram']=[x,y,z]
  print(D)
elif c=='Meena':
  x=int(input("Enter the new score:"))
  y=int(input("Enter the new score:"))
  z=int(input("Enter the new score:"))
  D['Meena']=[x,y,z]
  print(D)
else:
  print("Name not found")

Enter the name:Meena
Enter the new score:45
Enter the new score:56
Enter the new score:54
{'John': [45, 60, 78], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [45, 56, 54]}

In [32]:
n=input("Enter the name to be updated:")
if n in D:
  D[n]=[88,77,99]
  print(D)
else:
  print("Name not found")

Enter the name to be updated:Ram
{'John': [88, 77, 99], 'Peter': [87, 55, 96], 'Ram': [88, 77, 99], 'Meena': [45, 56, 54]}

In [29]:
s=input("Enter a string:")
print(s[::2])

Enter a string:Abhinav
Ahnv

In [21]:
def old(a,b,c):
  if a>b and a>c:
    return a
  elif b>c and b>a:
    return b
  else:
    return c

In [25]:
def young(a,b,c):
  if a<b and a<c:
    return a
  elif b<c and b<a:
    return b
  else:
    return c

In [26]:
a=int(input("Enter age of first person:"))
b=int(input("Enter age of second person:"))
c=int(input("Enter age of third person:"))
print("Age of oldest person is ",old(a,b,c))
print("Age of youngest person is ",young(a,b,c))

Enter age of first person:12
Enter age of second person:45
Enter age of third person:34
Age of oldest person is  45
Age of youngest person is  12